.container_1 {
    height: 100%;
    width: 100%;
    // background-color: red;
    // opacity: 0.9;
}
.bg_img {
    height: 100%;
    width: 100%;
    position: relative;
}
.title {
    position: absolute;
    top: 290px;
    left: 290px;
    color: white;
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
    opacity: 0.9;
}
.subtitle {
    position: absolute;
    top: 350px;
    left: 290px;
    color: white;
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
    opacity: 0.9;
}

//Section-2
.container_2 {
    height: 163%;
    width: 100%;
    background-color: rgb(182, 178, 178);
}
.heading {
    font-size: 40px;
    padding: 70px 140px;
    font-family: "Times New Roman", Times, serif;
}
.part_1 {
    height: 100%;
    width: 70%;
    // background-color: red;
}
.image {
    height: 791px;
    width: 802px;
    // background-color: red;
    z-index: 5;
    margin-left: 70px;
    position: absolute;
}
.block_1 {
    height: 700px;
    width: 526px;
    background-color: white;
    border: 1px solid white;
    position: absolute;
    left: 770px;
    top: 133%;
    z-index: 5;
}
.header {
    padding-top: 10px;
    padding-left: 70px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    padding-bottom: 30px;
    opacity: 0.7;
}
.head_1 {
    padding-top: 50px;
    padding-left: 70px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    padding-bottom: 10px;
    opacity: 0.7;
}
.head_2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    padding: 10px 0px;
}
.content {
    padding-left: 70px;
    padding-bottom: 10px;
    font-size: 17px;
    opacity: 0.8;
    font-family: "Times New Roman", Times, serif;
}
.btn_1 {
    position: relative;
    font-size: 15px;
    margin-left: 70px;
    margin-top: 50px;
    padding: 22px 57px;
    opacity: 0.7;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    // background-color: red;
}
.nav {
    width: 100%;
    height: 50px;
    // background-color: red;
    z-index: 3;
    position: absolute;
    font-size: 45px;
    display: flex;
    justify-content: center;
    top: 248%;
    // margin-top: 20px;
    // padding-bottom: 10px;
    opacity: 0.9;
}
.num {
    height: 30px;
    width: 60px;
    padding: 10px 5px;
    font-size: 30px;
    opacity: 0.9;
}
.mat-icon {
    // padding: 1px 32px;
    height: 30px;
    width: 30px;
    padding: 0px 40px;
    // background-color: yellow;
    font-size: 40px;
    opacity: 0.9;
}
.container_3 {
    height: 120%;
    width: 100%;
    // background-color: red;
    // opacity: 0.9;
}
.writeup{
        margin: 3% 10%;
        padding-bottom: 2px;
        font-size: 32px;
        opacity: 0.6;
        font-family: "Times New Roman", Times, serif;
}

.btn_121 {
    position: relative;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 50px;
    padding: 22px 57px;
    opacity: 0.7;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    // background-color: red;
}
.head{
    margin-left: 10%;
    font-size: 20px;
    font-weight:bold;
    padding-top: 10px;
    opacity: 0.8;
}
.heading_2 {
    font-size: 40px;
    margin: 5% 10%;
    padding: 20px 0px;
    font-family: "Times New Roman", Times, serif;
    
}
.container_3{
    height: 130%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // background-color: yellow;
}
.container_4{
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // background-color: red;
}
.one{
    width: 43%;
    height: 25%;
    // background-color: red;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 42px;
    // position: absolute;
}
.two{
    width: 43%;
    height: 25%;
    // background-color: red;
}
.nav_2{
    // background-color: red;
    position: relative;
    display: flex;
    left: 39%;
}
 
.num_2 {
    height: 30px;
    width: 75px;
    padding: 10px 5px;
    font-size: 30px;
    opacity: 0.9;
}


