<app-header></app-header>
<section class="container_1">
    <img class="bg_img" src="../../../assets/Press/img_1.jpg" alt="" srcset="">
    <div class="title">News</div>
    <div class="subtitle">and Press</div>
</section>

<section class="container_2">
    <div class="heading">Latest news</div>
    <div class="part_1">
        <img class="image" src="../../../assets/Press/img_12.jpg" alt="" srcset="">
    </div>
    <div class="block_1 ">
        <div class="head_1">News</div>
        <div class="header">
            <div class="head_2">Discovery's newest</div>
            <div class="head_2">property in Kaua'i North</div>
            <div class="head_2">Shore Preserve</div>
        </div>
        <div class="content">Discovery land Company is excited to announce our</div>
        <div class="content">25th residential club community on the majestic</div>
        <div class="content">North Shore of Kaua'i North Shore Preserve, a one-of-</div>
        <div class="content">a-kind residential community, spans one thousand</div>
        <div class="content">acres at the base of the mountains in the pastoral</div>
        <div class="content">Hanalei valley. This newly re-imagined, low-density</div>
        <div class="content">project is a secluded and peaceful island oasis with</div>
        <div class="content">limited initial homesite and hale offerings</div>

        <div><button class="btn_1">Read Article</button></div>
    </div>
    <div class="nav">
        <div><mat-icon>arrow_backward</mat-icon></div>
        <div class="num"> 1  -  4 </div>
        <div><mat-icon>arrow_forward</mat-icon></div>
    </div>
</section>
<app-footer></app-footer>