*{
    margin: 0;
    padding: 0;
  }
  
  .main_container{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    background-color: red;
    // border: 2px solid yellow;
  
  }
  .container_ft_1{
  width: 45%;
  background-color: black;
  // border: 2px solid red;
  }
  .container_ft_2{
  width: 55%;
  background-color: black;
  // border: 2px solid black;
  display: flex;
    flex-direction: row;
  }
  .copyright{
    color: white;
    position: absolute;
    bottom: 0;
    padding-left: 90px;
    padding-bottom: 80px;
  }
  .logo-img{
        height: 60px;
        padding-left: 90px;
        padding-top: 100px;
  }
  .column_1, .column_2, .column_3{
    // border: 2px solid rgb(87, 47, 87);
    padding: 100px 50px;
  }
  .column_1 p{
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .column_1 a{
    color: white;
    padding: 20px 0px;
  } 
  .menu__item{
        list-style-type: none;
  }
  .hello{
        list-style-type: none;
  }
  
  a{
    padding-top: 10px;
    // margin: 10px;
    color: white;
  }
  
  li{
    padding: 10px;
  }
  
  a:hover {
  text-decoration: underline;
  cursor: pointer;
  } 