<footer class="main_container">
    <div class="container_ft_1"><img class="logo-img" src="../../../assets/logo2.JPG" alt="No image found" srcset="">
        <p class="copyright">© Discovery Land Company. All rights reserved.</p></div>
    <div class="container_ft_2">
        <div class="column_1"><p>Get in touch</p>
            <p class="hover">(480)624-5200</p>
            <a href="mail@discoverylandco.com">mail@discoverylandco.com </a></div>
        <div class="column_2"><ul class="hello">
            <li class="menu__item"><a>About DLC</a></li>
            <li class="menu__item"><a>Our Worlds</a></li>
            <li class="menu__item"><a>Experiences</a></li>
            <li class="menu__item"><a>Gallery</a></li>
            <li class="menu__item"><a>Press</a></li>
    </ul></div>
        <div class="column_3"> <ul class="hello">
            <li class="menu__item"> <a>Magazine</a></li>
            <li class="menu__item"> <a>Careers</a></li>
            <li class="menu__item"> <a>Foundation</a></li>
            <li class="menu__item"> <a>Company</a></li>
            <li class="menu__item"> <a>Contact</a></li>
            <li class="menu__item"> <a>Privacy</a></li>
        </ul></div>
    </div>
</footer>