<app-header></app-header>
<section class="container_1">
    <img class="img_1" src="../../../assets/Gallery/img_1.jpg" alt="" srcset="">
    <div class="title">Gallery</div>
    <div class="gallery_1">
        <img class="img" src="../../../assets/Gallery/section_2_img_1.jpg" alt="">
        <img class="img" src="../../../assets/Gallery/section_2_img_2.jpg" alt="">
        <img class="img" src="../../../assets/Gallery/section_2_img_3.jpg" alt="">
    </div>
</section>
<section class="container_2">
    <div class="block_1">
        <div class="sec_01">Outdoor Pursuits</div>
        <div class="sec_02">Golf</div>
        <div class="sec_03">Lifestyle</div>
    </div>
    <div class="gallery_1">
        <img class="img" src="../../../assets/Gallery/section_2_img_4.jpg" alt="">
        <img class="img" src="../../../assets/Gallery/section_2_img_5.jpg" alt="">
        <img class="img" src="../../../assets/Gallery/section_2_img_6.jpg" alt="">
    </div>
</section>
<section>
    <div class="block_2">
        <div class="sec_01">Landscapes</div>
        <div class="sec_02">Clubhouses</div>
        <div class="sec_03">Wellness</div>
    </div>
</section>
<app-footer></app-footer>