
<app-header></app-header>
<section class="container_1">
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_1.jpg" alt="" srcset="">
        </div>
        <div class="title">NORTH SHORE PRESERVE</div>
        <div class="sub_title">Kaua'i, Hawaii</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_2.jpg" alt="" srcset="">
        </div>
        <div class="title">JAMES ISLAND</div>
        <div class="sub_title">Southern Gulf Islands, Canada</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_3.jpg" alt="" srcset="">
        </div>
        <div class="title">COSTATERRA</div>
        <div class="sub_title">Comporta, Portugal</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_4.jpg" alt="" srcset="">
        </div>
        <div class="title">BARBUDA OCEAN CLUB</div>
        <div class="sub_title">Barbuda, West Indies</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_5.jpg" alt="" srcset="">
        </div>
        <div class="title">DRIFTWOOD</div>
        <div class="sub_title">Austin, Texas</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_6.jpg" alt="" srcset="">
        </div>
        <div class="title">TROUBADOUR</div>
        <div class="sub_title">Nashville, Tennessee</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_7.jpg" alt="" srcset="">
        </div>
        <div class="title">PLAYA GRANDE</div>
        <div class="sub_title">Rio San Juan, Dominican Republic</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_8.jpg" alt="" srcset="">
        </div>
        <div class="title">CHILENO BAY</div>
        <div class="sub_title">Cabo San Lucas, Mexico</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_9.jpg" alt="" srcset="">
        </div>
        <div class="title">THE SUMMIT</div>
        <div class="sub_title">Las Vegas, Nevada</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_10.jpg" alt="" srcset="">
        </div>
        <div class="title">DUNE DECK</div>
        <div class="sub_title">Westhampton, Beach,NY</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_11.jpg" alt="" srcset="">
        </div>
        <div class="title">SILO RIDGE</div>
        <div class="sub_title">Amenia, New York</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_12.jpg" alt="" srcset="">
        </div>
        <div class="title">MAKENA</div>
        <div class="sub_title">Maui, Hawaii</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_13.jpg" alt="" srcset="">
        </div>
        <div class="title">YELLOWSTONE CLUB</div>
        <div class="sub_title">Big Sky, Montana</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_14.jpg" alt="" srcset="">
        </div>
        <div class="title">GOZZER RANCH</div>
        <div class="sub_title">Coeur d'Alene, Idaho</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_15.jpg" alt="" srcset="">
        </div>
        <div class="title">EL DORADO</div>
        <div class="sub_title">Los Cabos, Mexico</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_16.jpg" alt="" srcset="">
        </div>
        <div class="title">Madison</div>
        <div class="sub_title">La Quinta, California</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_17.jpg" alt="" srcset="">
        </div>
        <div class="title">BAKER'S BAY</div>
        <div class="sub_title">Great Guana Cay, Bahamas</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_18.jpg" alt="" srcset="">
        </div>
        <div class="title">HIDEWAY</div>
        <div class="sub_title">La Quinta, California</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_19.jpg" alt="" srcset="">
        </div>
        <div class="title">MOUNTAINTOP</div>
        <div class="sub_title">Cashiers, North Carolina</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_20.jpg" alt="" srcset="">
        </div>
        <div class="title">MIRABEL</div>
        <div class="sub_title">Scottsdale, Arizona</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_21.jpg" alt="" srcset="">
        </div>
        <div class="title">KUKI'O</div>
        <div class="sub_title">Kohala, Hawaii</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_22.jpg" alt="" srcset="">
        </div>
        <div class="title">VAQUERO</div>
        <div class="sub_title">Westlake, Texas</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_23.jpg" alt="" srcset="">
        </div>
        <div class="title">IRON HORSE</div>
        <div class="sub_title">Whitefish, Montana</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_24.jpg" alt="" srcset="">
        </div>
        <div class="title">CORDEVALLE</div>
        <div class="sub_title">Silicon Valley, California</div>
    </div>
   <div class="content">
        <div>
            <img class="img" src="../../../assets/Our worlds/img_25.jpg" alt="" srcset="">
        </div>
        <div class="title">ESTANCIA</div>
        <div class="sub_title">Scottsdale, Arizona</div>
    </div>
</section>
<app-footer></app-footer>