* {
    margin: 0;
    padding: 0;
}
@mixin container {
    height: 100%;
    width: 100%;
}
@mixin title($top) {
    position: absolute;
    top: $top;
    left: 290px;
    color: white;
    font-size: 70px;
    font-family: "Times New Roman", Times, serif;
}
@mixin writeup($par_1) {
    padding-bottom: 10px;
    padding-left: $par_1;
    font-size: 17px;
    opacity: 0.8;
}
@mixin heading {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    padding-bottom: 30px;
    opacity: 0.8;
}
// Section 1
.container_1 {
    background-color: black;
    @include container();
    position: relative;
    opacity: 0.9;
}
.bg_img {
    @include container();
    position: relative;
}
.title {
    @include title(290px);
}
.subtitle {
    @include title(350px);
}
// Section 2
.container_2 {
    height: 60%;
    width: 100%;
    background-color: white;
}
.paragraph {
    padding: 35px;
    margin: 120px;
    text-align: center;
    font-size: 37px;
    font-family: "Times New Roman", Times, serif;
    opacity: 0.7;
}
// Section 3
.container_3 {
    @include container();
    display: flex;
}
.part_1 {
    height: 100%;
    width: 50%;
    top: 100px;
}
.para_1 {
    padding: 0px 80px 30px 10px;
    font-family: "Times New Roman", Times, serif;
}

.writeup {
    @include writeup(140px);
}
.writeup_123 {
    @include writeup(0px);
}
.sec_3_img {
    height: 100%;
    width: 87%;
    opacity: 0.9;
}
.part_2 {
    height: 100%;
    width: 50%;
}
//Section 4
.container_4 {
    height: 100vh;
    width: 100wh;
    background-color: white;
    padding: 110px 50px;
}
.sec_4_img {
    @include container();
}
//Section 5
.container_5 {
    @include container();
    background-color: white;
}
.heading1 {
    padding-top: 100px;
    padding-left: 150px;
    @include heading();
}
.heading_2 {
    padding-top: 250px;
    padding-left: 50px;
    @include heading();
}
.sec_heading {
    padding-left: 120px;
    @include heading();
}
// Section 6
.container_5 {
    @include container();
}
.sec_6_img {
    @include container();
}
//Section 7
.container_7 {
    @include container();
    display: flex;
}
.sec_para_1 {
    padding-left: 50px;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 120px;
    padding-right: 80px;
}
.sec_7_img_1 {
    padding-top: 120px;
    padding-left: 120px;
    height: 100%;
    width: 73%;
}
.sec_7_img_2 {
    padding-left: 50px;
    height: 42%;
    width: 70%;
}
//Section 8
.container_8 {
    @include container();
    padding-top: 400px;
}
.sec_8_img {
    @include container();
    opacity: 0.8;
}
//Section 9
.container_9 {
    @include container();
    display: flex;
    padding-top: 120px;
}
.sec_9_img {
    height: 92%;
    width: 73%;
    padding-left: 50px;
}
.sec_9_img_1 {
    padding-top: 100px;
    height: 45%;
    width: 70%;
    padding-left: 100px;
    opacity: 0.9;
}
//Section 10
.container_10 {
    height: 70%;
    width: 100wh;
    padding-top: 270px;
    position: relative;
}
.content_center {
    color: white;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 40px;
}
.btn_1 {
    position: relative;
    font-size: 20px;
    padding: 20px 40px;
    opacity: 0.7;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 1px solid white;
}
.sec_10 {
    display: flex;
    flex-direction: column;
    height: 100%;
    // background-color: yellow;
    align-items: center;
    justify-content: center;
    background-image: url(../../../assets/about_dlc/section_10_bg_1.jpg);
    // padding-top: 30px;
}

@media screen and (max-width: 700px) {
    .title {
        top: 200px;
        left: 110px;
        font-size: 50px;
    }
    .subtitle {
        top: 250px;
        left: 110px;
        font-size: 50px;
    }
    .container_2 {
        height: 35%;
    }
    .paragraph {
        padding: 5px;
        margin: 60px;
        font-size: 20px;
    }
    .heading1 {
        padding-top: 60px;
        padding-left: 25px;
        display: flex;
        justify-content: center;
        font-size: 35px;
    }
    .writeup {
        padding-bottom: 5px;
        padding-left: 16px;
        font-size: 15px;
    }
    .para_1 {
        padding: 0px 0px 30px 0px;
    }
    .container_4 {
        height: 45vh;
    }
    .sec_heading {
        padding-left: 50px;
        font-size: 35px;
    }
    // .slider121{
    //     height: 200px;
    // }
    .ng-image-slider .ng-image-slider-container .main .main-inner .img-div.image-popup {
        height: 300px;
        cursor: pointer;
    }
    .ng-image-slider .ng-image-slider-container .main .main-inner .img-div img,
    .ng-image-slider .ng-image-slider-container .main .main-inner .img-div video {
        width: 100%;
        border-radius: 5px;
    }
    .sec_7_img_1{
        padding-top: 120px;
        padding-left: 30px;
        height: 100%;
        width: 100%;
    }
    .sec_para_1{
        padding-right: 10px;
    }
    .heading_2{
        font-size: 35px;
    }
    .container_8{
        height: 55%;
    }
    .sec_8_img{
        padding-top: 50px;
    }
    .container_10{
        padding-top: 150px;
    }

}
