<app-header></app-header>
<!-- About DLC Part 1 -->
<section class="container_1">
    <img class="bg_img" src="../../../assets/about_dlc/section_1_bg_1.jpg" alt="" srcset="">
    <p class="title">Creating your </p>
    <p class="subtitle">perfect world</p>
</section>
<!-- About DLC Part 2 -->
<section class="container_2">
    <div class="paragraph">
        <p>Founded in 1994 by Mike Meldma. Discovery Land Company is a</p>
        <p>US-base read estate developer and operator of private residential</p>
        <p>club communities and resorts with a world-renowned portfolio of</p>
        <p>domestic and international properties.</p>
    </div>
</section>
<!-- About DLC Part 3 -->
<section class="container_3">
    <div class="part_1">
        <div class="heading1">
            <p>Our Mission</p>
        </div>
        <div class="para_1">
            <div class="writeup">We don't buildings, but rather we build settings</div>
            <div class="writeup">where families can create intergenerational memories</div>
            <div class="writeup">and enrich their lives in exuisite and untouched</div>
            <div class="writeup">sanctuaries. Everything we do is riven by the</div>
            <div class="writeup">fundamental desire to create spaces where families can</div>
            <div class="writeup">be together.</div>
            <div class="writeup"></div>
        </div>
        <div class="para_1">
            <div class="writeup">These settings offer a relaxed and comfortable sense of</div>
            <div class="writeup">community featuring outstanding clubhouses,</div>
            <div class="writeup">incredible residential offerings, premier golf courses,</div>
            <div class="writeup">welcoming staff, world-class culinary offerings and our</div>
            <div class="writeup">custom Outdoor Pursuits program, all offerings and our</div>
            <div class="writeup">custom Outdoor Pursuits program; all offering the</div>
            <div class="writeup">highest of service sandards to enrich your experience.</div>
            <div class="writeup"></div>
        </div>
    </div>
    <div class="part_2">
        <img class="sec_3_img" src="../../../assets/about_dlc/section_3_img1.jpg" alt="" srcset="">
    </div>
</section>

<!-- About DLC Part 4 -->
<section class="container_4">
    <div class="">
        <img class="sec_4_img" src="../../../assets/about_dlc/section_4_img1.jpg" alt="" srcset="">
    </div>
</section>
<!-- About DLC Part 5 -->
<section class="container_5">
    <div class="sec_heading">
        <p>The Discovery Difference</p>
    </div>
    <div>
        <ng-image-slider #nav
        [images]="imageObject"
        [infinite]="true"
        [autoSlide]="0.1"
        [animationSpeed]="5"
        [showArrow]="false"
        [imageSize]="{width: '30%', height: 500}"
        ></ng-image-slider>
    </div> 
</section>

<!-- About DLC Part 6 -->
<section class="container_6">
    <div class="">
        <img class="sec_6_img" src="../../../assets/about_dlc/section_6_bg_1.jpg" alt="" srcset="">
    </div>
    
</section>
<!-- About DLC Part 7 -->
<section class="container_7">
    <div class="part_1">
        <img class="sec_7_img_1" src="../../../assets/about_dlc/section_7_img_1.jpg" alt="" srcset="">
    </div>
    <div class="part_2">
        <div class="heading_2">
            <p>Discovery Design</p>
        </div>
        <div class="sec_para_1">         
            <div class="writeup_123">See the beauty in every corner of your new, bespoke</div>
            <div class="writeup_123">home away from home. From fabrics and furniture</div>
            <div class="writeup_123">pieces to floorplans, our professional designers will</div>
            <div class="writeup_123">collaborate closely with you to create an interior living</div>
            <div class="writeup_123">space which reflects your style and unique tastes as</div>
            <div class="writeup_123">well as perfectly complementing your lifestyle.</div>
            <div class="writeup"></div>
        </div>
        <img class="sec_7_img_2" src="../../../assets/about_dlc/section_7_img_2.jpg" alt="" srcset="">
    </div>
</section>

<!-- About DLC Part 8 -->
<section class="container_8">
    <div class="">
        <img class="sec_8_img" src="../../../assets/about_dlc/section_8_bg_1.jpg" alt="" srcset="">
    </div>
</section>

<!-- About DLC Part 9 -->
<section class="container_9">
    <div class="part_1">
        <div class="heading1">
            <p>Discovery Builders</p>
        </div>
        <div class="para_1">
            <div class="writeup">Every Discovery is wonderfully in-tune with its</div>
            <div class="writeup">natural surroundings a harmonious blend of the</div>
            <div class="writeup">architecturally impressive with the environmentally</div>
            <div class="writeup">sensitive. And your every expectation will be met, with</div>
            <div class="writeup">our meticulous eye for detail matching outstanding</div>
            <div class="writeup">levels of craftsmanship and master building.</div>
            <div class="writeup"></div>  
        </div>
        <img class="sec_9_img_1" src="../../../assets/about_dlc/section_9_img_1.jpg" alt="" srcset="">
    </div>
    <div class="part_2">
        <img class="sec_9_img" src="../../../assets/about_dlc/section_9_img_2.jpg" alt="" srcset="">
    </div>
</section>
<!-- About DLC Part 10 -->
<section class="container_10">
    <!-- <img class="sec_10_img" src="../../../assets/about_dlc/section_10_bg_1.jpg" alt="" srcset=""> -->
    <div class="sec_10">
        <div class="content_center">Our Worlds </div>
        <div><button class="btn_1">Explore</button></div> 
    </div>
</section>
<app-footer></app-footer>