#div1 {
    height: 100%;
    width: 100%;
    background: url(../../../assets/bg_img.jpg) no-repeat 50% / cover;
    // opacity: 0.1;
}
#div2 {
    height: 100%;
    width: 100%;
    background: url(../../../assets/bg_img.jpg) no-repeat 50% / cover;
    // border: 2px solid black;
}

.heading {
    padding: 50xpx;
    border: 2px solid red;
    font-size: 50px;
    position: relative;
    display: inline-block;
    z-index: 1;
    background-color: yellow;
}
// <div style="position: relative; display: inline-block; transform: translate(0px, 0px);">D</div>
.honda {
    line-height: 2;
    font-size: 0.9rem;
}

.heading1 {
    font-family: gt-sectra;
    font-weight: 200;
    font-size: 40px;
    padding-top: 90px;
    padding-left: 150px;
}
.heading2 {
    font-family: gotham;
    font-weight: 100;
    font-size: 40px;
    padding-left: 150px;
    padding-bottom: 60px;
    padding-top: 20px;
}
.paragraph {
    display: block;
    text-align: start;
    position: relative;
    opacity: 1;
    padding-left: 150px;
    font-size: 1.1rem;
    font-family: messina-sans;
}
.image1 {
    // display: flex;
    // flex-direction: row-reverse;
    height: 280px;
    width: 450px;
    padding-left: 110px;
    padding-bottom: 50px;
    // display: inline-block;
    position: absolute;
}
.image2 {
    // display: flex;
    // flex-direction: row-reverse;
    height: 66%;
    width: 36%;
    padding-top: 90px;
    padding-left: 700px;
}

.section_2 {
    display: inline-block;
    position: absolute;
    // flex-direction: row-reverse;
    // flex-wrap: wrap;
}
.para2 {
    padding-bottom: 100px;
}
#div3 {
    height: 100%;
    width: 100%;
    background-color: white no-repeat 50% / cover;
    // opacity: 0.1;
}
.slider {
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: row;
}
.card_img {
    height: 450px;
    // height: fit-content;
    width: 380px;
    margin: 2px;
    padding-top: 50px;
    // padding-bottom: 20px;
}
.container_2 {
    height: 100%;
    width: 100%;
    // border: 5px solid red;
    padding-bottom: 150px;
    padding-top: 50px;
}
.container_3 {
    height: 100%;
    width: 100%;
    // border: 5px solid red;
    padding: 30px 0px;
    // margin: 10px;
    z-index: -1;
}
.title {
    position: absolute;
    top: 45%;
    left: 300px;
    color: white;
    font-size: 5.5rem;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 6px;
    padding-bottom: 20px;
    // line-height: 150px;
}
.subtitle {
    position: absolute;
    top: 55%;
    left: 300px;
    color: white;
    font-size: 4.5rem;
    letter-spacing: 6px;
}

.card_title {
    position: relative;
    bottom: 100px;
    left: 60px;
    color: white;
}
.card_subtitle {
    position: relative;
    bottom: 100px;
    left: 60px;
    color: white;
}
.mat-card {
    //   border: 2px solid red;
    //   display: block;
    height: fit-content;
}

//Container 4 Globe

.container_4 {
    height: 100%;
    width: 100%;
    // border: 5px solid red;
    padding: 60px 0px;
    // margin: 0;
    z-index: 2;
}

#div4 {
    height: 50%;
    width: 100%;
    background-color: white;
    // background: url(../../../assets/gps/globe-usa.jpg) no-repeat center cover;
    // z-index: 50;
    // opacity: 0.3;
    // border: 2px solid black;
}
.count {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    padding-left: 150px;
}
// .count::after{
//     background: url(../../../assets/gps/globe-usa.jpg) no-repeat 50%/cover;
// }
.country {
    padding-right: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.container_5 {
    height: 100%;
    width: 100%;
    // border: 5px solid red;
    // padding: 60px 0px;
    // margin: 0;
    // z-index: 2;
}

#div5 {
    height: 100%;
    width: 70%;
    padding-top: 120px;
    // background-color: yellow;
    background: url(../../../assets/gps/globe-usa.jpg) no-repeat 50% / cover;
}
#bg_card {
    // padding-top:150px;
    height: 65%;
    width: 45%;
    background-color: black;
    position: absolute;
    right: 0;
    z-index: 20;
    // padding-top: 220px;
}
#img_float {
    height: 580px;
    width: 270px;
    // width: 30%;
    position: absolute;
    // right: 10;
    padding-left: 1030px;
    z-index: 30;
}
.first {
    color: white;
    padding: 30px;
}
.second {
    color: white;
    padding-left: 35px;
}
.tit {
    color: white;
    padding: 35px;
    font-size: 40px;
}
.sub {
    color: white;
    padding-top: 100px;
    padding-left: 35px;
    font-size: 20px;
}
.material-icons {
    padding-right: 25px;
    font-size: 40px;
}

.container_6 {
    // border: 2px solid purple;
    // background-color: yellow;
    height: 100vh;
    width: 100wh;
    // background-color: pink;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    position: relative;
    // opacity: 0.89;
}
.one {
    height: 100%;
    width: 33%;
    // border: 2px solid blue;
    // background-color: cyan;
    position: relative;
}
.two {
    height: 100%;
    width: 33%;
    // border: 2px solid blue;
    // background-color: cyan;
    position: relative;
}
.img_sld_1 {
    height: 100%;
    width: 103%;
    position: relative;
}
.img_h1 {
    position: absolute;
    // text-align: center;
    top: 270px;
    left: 90px;
    color: white;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: "Times New Roman", Times, serif;
}
.img_h2 {
    position: absolute;
    // text-align: center;
    top: 270px;
    left: 90px;
    color: white;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: "Times New Roman", Times, serif;
}
.img_h3 {
    position: absolute;
    // text-align: center;
    top: 270px;
    left: 90px;
    color: white;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: "Times New Roman", Times, serif;
}

.three {
    height: 100%;
    width: 33%;
    // border: 2px solid blue;
    // background-color: maroon;
    position: relative;
}

.btn_1 {
    position: absolute;
    background: transparent;
    top: 370px;
    left: 180px;
    border-color: white;
    color: white;
    font-size: 40px;
    border-radius: 85px;
    padding-left: 15px;
    cursor: pointer;
}
.btn_2 {
    position: absolute;
    background: transparent;
    top: 370px;
    left: 180px;
    border-color: white;
    color: white;
    font-size: 40px;
    border-radius: 85px;
    padding-left: 15px;
    cursor: pointer;
}
.btn_3 {
    position: absolute;
    background: transparent;
    top: 370px;
    left: 180px;
    border-color: white;
    color: white;
    font-size: 40px;
    border-radius: 85px;
    padding-left: 15px;
    cursor: pointer;
}
.video121 {
    position: absolute;
    // height: 100%;
    width: 100%;
    top: 530%;
    // z-index: 6;
}
.close_btn {
    position: absolute;
    border: none;
    background: transparent;
    top: 535%;
    right: 40px;
    padding: 15px;
    font-size: 35px;
    color: white;
    // background-color: red;
}
.content_1 {
    position: absolute;
    top: 555%;
    left: 140px;
    color: white;
    font-family: "Times New Roman", Times, serif;
}
.heading_121 {
    font-size: 40px;
    margin-bottom: 35px;
    position: relative;
}
.para {
    padding: 5px 0px;
    font-size: 20px;
    position: relative;
}

.btn_1234 {
    position: relative;
    font-size: 20px;
    padding: 20px 40px;
    // opacity: 0.7;
    margin-top: 50px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 1px solid white;
}
