.container_1{
    height: 100%;
    width: 100%;
    position: absolute;
    // background-color: rgb(111, 39, 192);

}
.heading{
font-size: 130px;
// padding-bottom: 50px;
position: absolute;
top: 30%;
left: 10%;
}
.para{
    font-size: 45px;
// padding-bottom: 50px;
position: absolute;
top: 47%;
left: 10%;
}