*{
    margin: 0;
    padding: 0;
}

// Section 1

.container_1{
    // background-color: black;
    height: 100vh;
    width: 100wh;
    position: relative;
    opacity: 0.9;
}
.video{
    height: fit-content;
    width: 100%;  
}
.title {
    position: absolute;
    top: 290px;
    left: 290px;
    color:white;
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
}
.subtitle {
    position: absolute;
    top: 350px;
    left: 290px;
    color: white;
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
}
  // Section 2
.container_2{
    height: 50%;
    width: 100%;
    background-color: white;
  //   border: 2px solid purple;
  //   opacity: 0.7;
}
.paragraph{
  padding: 37px;
  margin: 120px;
  text-align: center;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  opacity: 0.8;
}
.writeup{
    padding: 5px 20px;
}

//Section 3

.container_3{
    height: 100vh;
    width: 100wh;
    // border: 2px solid red;
    display: flex;
    padding-bottom: 50px;
}
.sec_3_img{
    height: 634px;
    width: 555px;
    padding-left: 50px;
}
.heading1{
    padding-top: 100px;
    padding-left: 130px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-bottom: 30px;
    opacity: 0.8;
}
.part_1{
    // border: 2px solid red;
    height: 100%;
    width: 50%;
    // background-color: pink;
    top: 100px;
}
.part_2{
    // border: 2px solid green;
    height: 100%;
    width: 50%;
    // background-color: cyan;
}
.writeup_1{
    padding-bottom: 10px;
    font-size: 17px;
    opacity: 0.8;
}
.para_1{
    padding-left: 130px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
    padding-right: 80px; 
}

//Section 4

.container_4{
    height: 135%;
    width: 100%;
    // background-color: rgb(192, 192, 192);
     background-color: #cdc6c6;
    // background-color: red;
    opacity: 0.85;
    z-index: -1;
    // padding-bottom: 50px;
}
.sec_4_img{
    width: 1016px ;
    height: 753px;
    // opacity: 0.9;
    position: absolute;
    padding-top: 130px;
    // order: 4;
    z-index: 3;
}
.block_1{
    height: 500px;
    width: 520px;
    background-color: white;
    border: 1px solid white;
    // order: 5;
    position: relative;
    left: 720px;
    top: 230px;
    z-index: 5;
}
.header{
    padding-top: 100px;
    padding-left: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-bottom: 30px;
    opacity: 0.7;
}
.content{
    padding-left: 70px;
    padding-bottom: 10px;
    font-size: 17px;
    opacity: 0.8;
}
.btn_1{
    position: relative;
    font-size: 15px;
    margin-left: 70px;
    margin-top: 50px;
    padding: 22px 57px;
    opacity: 0.7;
    background-color:transparent;
    color: black;
    cursor: pointer;
    border: 1px solid black;    
    // background-color: red;
}
.block_2{
    height: 200px;
    width: 870px;
    // background-color: red;
    position: relative;
    top: 230px;
    left: 200px;
    background-color: rgb(173, 163, 163);
    // background-color: rgb(216, 203, 203);
    z-index: 1;
    // margin-bottom: 50px;
    // margin: 20px;
}
.container_6{
    height: 135%;
    width: 100%;
    // background-color: rgb(192, 192, 192);
    background-color: #cdc6c6;
    //  background-color: rgb(197, 190, 190);
    // background-color: red;
    opacity: 0.85;
    z-index: -1;
    padding-bottom: 120px;
}
//Section 5
.block_3{
    height: 500px;
    width: 520px;
    background-color: white;
    border: 1px solid white;
    // order: 5;
    position: relative;
    left: 100px;
    top: 230px;
    z-index: 5;
}
.block_4{
    height: 200px;
    width: 870px;
    // background-color: red;
    position: relative;
    top: 230px;
    left: 280px;
    background-color: rgb(173, 163, 163);
    // background-color: rgb(216, 203, 203);
    z-index: 1;
    // margin-bottom: 50px;
    // margin: 20px;
}
.sec_5_img{
    width: 1016px ;
    height: 753px;
    // opacity: 0.9;
    position: absolute;
    right: 0;
    padding-top: 130px;
    // order: 4;
    z-index: 3;
}

//Section 7

.container_7{
    height: 70%;
    width: 100wh;
    // border: 2px solid purple;
    // padding-top: 270px;
    position: relative;
    opacity: 0.9;
    // background-color: pink;
}
.content_center{
    color:white;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 40px;
}
.btn_2{
    position: relative;
    font-size: 20px;
    padding: 20px 40px;
    opacity: 0.7;
    background-color:transparent;
    color: white;
    cursor: pointer;
    border: 1px solid white;    
}
.sec_7{
    display: flex;
    flex-direction: column;
    height: 100%;
    // background-color: yellow;
    align-items: center;
    justify-content: center;
    background-image: url(../../../assets/experiences/section_6_img_1.jpg);
    // padding-top: 30px;
}