
<app-header></app-header>
<!-- Experiences Page Part 1 -->
<section class="container_1">
    <video class="video" src="https://dxaurk9yhilm4.cloudfront.net/experiences_hero.mp4?mtime=20190609072805" autoplay loop muted></video>
    <div class="title">Unforfgettable</div>
    <div class="subtitle">experiences</div>
</section>
<!-- Experiences Page Part 2 -->
<section class="container_2">
    <div class="paragraph">
        <p class="writeup">Memorable days. Exceptional nights. We believe it's our mission to</p>
        <p class="writeup">make every minute matter. So you can live your life to the fullest.</p>
        <p class="writeup">with the people closest to you.</p>
    </div>
</section>

<!-- Experiences Page Part 3 -->
<section class="container_3">
    <div class="part_1">
        <div class="heading1">
            <p>Exclusive to</p>
            <p>your world</p>
        </div>
        <div class="para_1">
            <div class="writeup_1">Our worlds are designed to offer you endless</div>
            <div class="writeup_1">opportunities to share incredible once-in-a-lifetime</div>
            <div class="writeup_1">experiences and adventures every single minute of the</div>
            <div class="writeup_1">day. Each of our settingd offers a relaxed sense of</div>
            <div class="writeup_1">community through exceptional clubhouses,</div>
            <div class="writeup_1">world-class gold courses, welcoming staff and an</div>
            <div class="writeup_1">extensive Outdoor Pursuits program. Create moments</div>
            <div class="writeup_1">of joy and wonder, unforfgettable memories and</div>
            <div class="writeup_1">xherished times, together with those who matter most.</div>
            <div class="writeup_1"></div>  
        </div>
    </div>
    <div class="part_2">
        <img class="sec_3_img" src="../../../assets/experiences/section_2_img_1.jpg" alt="" srcset="">
    </div>
</section>

<!-- Experiences Page Part 4 -->
<section class="container_4">
    <img class="sec_4_img" src="../../../assets/experiences/section_3_img_1.jpg" alt="" srcset="">
    <div class="block_1 ">
        <div class="header">
            <p>Golf</p>
        </div>
        <div class="content">We commission the world's most renowned course</div>
        <div class="content">architects to design spectacular golf experiences on</div>
        <div class="content">challenging yet incredibly playable 18-hole courses. Our</div>
        <div class="content">trademark comfort stations also set new standards in</div>
        <div class="content">on-course amenities.</div>
        <!-- <div class="content"></div> -->
        <div><button class="btn_1">Explore</button></div> 
    </div>
    <div class="block_2"></div>
</section>

<!-- Experiences Page Part 5 -->
<section class="container_4">
    <img class="sec_5_img" src="../../../assets/experiences/section_4_img_1.jpg" alt="" srcset="">
    <div class="block_3">
        <div class="header">
            <p>Outdoor Pursuits</p>
        </div>
        <div class="content">Our signature Outdoor Pursuits program is designed for</div>
        <div class="content">families to create memories together. Whether you're</div>
        <div class="content">trying a new sport or taking a day trip, our team will</div>
        <div class="content">ensure you make the most of every minute with</div>
        <div class="content">activities designed to help you take advantage of</div>
        <div class="content">everything each region has to offer.</div>
        <!-- <div class="content"></div> -->
        <div><button class="btn_1">Explore</button></div> 
    </div>
    <div class="block_4"></div>
</section>

<!-- Experiences Page Part 6 -->
<section class="container_6">
    <img class="sec_4_img" src="../../../assets/experiences/section_5_img_1.jpg" alt="" srcset="">
    <div class="block_1 ">
        <div class="header">
            <p>Wellness</p>
        </div>
        <div class="content">Unwind at an indulgent spa. Set challenging targets</div>
        <div class="content">with a tailor-made fitness plan. Or let our talented chefs</div>
        <div class="content">treat you to our flavorful international menus created</div>
        <div class="content">using the finest, carefully selected foods sourced locally</div>
        <div class="content">from organic farms.</div>
        <!-- <div class="content"></div> -->
        <div><button class="btn_1">Explore</button></div> 
    </div>
    <div class="block_2"></div>
</section>
<!-- Expirences Part 7 -->
<section class="container_7">
    <!-- <img class="sec_10_img" src="../../../assets/about_dlc/section_10_bg_1.jpg" alt="" srcset=""> -->
    <div class="sec_7">
        <div class="content_center">Our Worlds </div>
        <div><button class="btn_2">Explore</button></div> 
    </div>
</section>
<app-footer></app-footer>
